html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vH;
}

.login {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;

}

.input {
  display: flex;
  width: 100%;
  padding: 12px 8px;
  margin: 16px 0;

}

.title {
  text-align: center;
  font-size: 4rem;
}

.button {
  width: 100%;
  padding: 16px;
  text-align: center;
  border: none;
  margin-top: 12px;
  background-color: orange;
}